<nav class="navbar navbar-dark bg-dark justify-content-between" style="position: fixed; width:100%;z-index: 9999;">
<div class="container">
  <a class="navbar-brand" href="#">
    <%= image_tag("icon.jpg", class: "img-responsive d-inline-block align-top icon-size", id: "navbar-logo") %>FilmReview</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="movies_new">Add a movie</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit About</a>
			</li>
			<li class="nav-item">
        <a class="nav-link" href="users/sign_out">Signout</a>
			</li>
</nav>
 
<div class="row bgi" style="padding-top:50px;">
<% @movies.each do |movie| %>
<div class="col-sm-4">
	<div class="card text-white bg-dark mb-3" style="width: 18rem; align: center;">
		<div class="card-body">
			<h5 class="card-title"><%= movie.title %></h5>
			<h6 class="card-subtitle mb-2 text-muted"><%= movie.year %></h6>
			<p class="card-text">Category:<%= movie.category %></p>
      <%= link_to "Edit this movie", movie_path(movie), :class => "btn btn-primary" %>
		</div>
	</div>
</div>
<% end %>
</div>



