<div style="margin-left:20px; margin-top:20px;">
  <div class="card text-center w-100 text-white bg-dark mb-3" style="width: 18rem; align: center;">
		<div class="card-body">
			<h3 class="card-title"><%= @movie.title %></h3>
			<h6 class="card-subtitle mb-2 text-muted"><%= @movie.year %></h6>
			<p class="card-text">Category: <%= @movie.category %></p>
		</div>
	</div>

  <h2>Comments</h2>
  <% @movie.comments.each do |comment| %>
     <div class="card w-100">
      <div class="card-header">
        <%= comment.commenter %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= comment.body %></p>
      </div>
    </div>
  <% end %>
  
  <h2>Add a comment:</h2>
  <%= form_with(model: [ @movie, @movie.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  
  <%= link_to 'Back', root_path %>
</div>