<div class="login_align">  
  <%= form_with(model: @movie, local: true) do |form| %>
  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Year %><br>
    <%= form.number_field :year %>
  </p>

  <p>
    <%= form.label :Category %><br>
    <%= form.text_field :category %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
  <% end %>
  <%= button_to "Delete", movie_path(@movie), :method => :delete, :class => "btn-danger" %>
  <br>
  <%= link_to 'Back', user_root_path %>
</div>