// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 5px;
    margin-top: 10px;
}

body {
    overflow-x: hidden;
    background-image: image-url("bgm2.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    position: relative;
}

.icon-size {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.btn-danger {
    background-color: red;
    text-decoration-color: white;
}